@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Mulish", sans-serif;
}

input:focus {
  outline: none;
}
::-webkit-scrollbar {
  width: 5px;
  height: 4px;
}
::-webkit-scrollbar-thumb {
  background: #ddd;
  border-radius: 12px;
}

.bg-auth {
  position: absolute;
  height: 100%;
  width: 100%;
  background: radial-gradient(
    rgb(210, 241, 223),
    rgb(211, 215, 250),
    rgb(186, 216, 244)
  );
}
